[submodule "site/plugins/field-multiselect"]
	path = site/plugins/field-multiselect
	url = https://github.com/distantnative/field-multiselect.git
[submodule "site/plugins/autogit"]
	path = site/plugins/autogit
	url = https://github.com/pedroborges/kirby-autogit.git
