body {
  font-family: "Interstate Lt", sans-serif;
  color: gray;
}

strong, .font-weight-bold {
  font-family: "Interstate Bd", sans-serif;
  font-weight: 900;
}

a:link, a:visited {
  color: gray;
}

a:hover, a:active {
  text-decoration: none;
  opacity: .7;
}

nav, footer {
  font-size: 14px;
}

.logo {
  font-family: "Interstate Bd", sans-serif;
  font-weight: 900;
}

  .logo-susan-inglett {
    color: gray;
  }

  .logo-gallery {
    color: lightgray;
  }

.heading-small {
  text-transform: uppercase;
  font-size: 14px;
}

.artists-list li a {
  display: block;
  padding: 3px 0;
}

.publication-link {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  width: 100%;
  padding-top: 100%;
  margin-bottom: 15px;
}

.news-item {
  display: block;
  p, strong, span, a {
    display: inline;
  }
}
