body {
  font-family: "Interstate Lt", sans-serif;
  color: gray; }

a:link, a:visited {
  color: gray; }

nav, footer {
  font-size: 14px; }

.logo {
  font-family: "Interstate Bd", sans-serif;
  font-weight: 900; }

.logo-susan-inglett {
  color: gray; }

.logo-gallery {
  color: lightgray; }

.heading-small {
  text-transform: uppercase;
  font-size: 14px; }

.artists-list li a {
  display: block;
  padding: 3px 0; }
